// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Шрифты

// Переменные для цвета

// Переменные для общих стилей


// Дополнительные размеры экранов

$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-l-min: 1200px;
// Large desctops
$screen-xl-min: 2400px;


// глобальные стили


// Код Веры



// Код Нади 




// Код Насти




// Код Тани

.radio_hide {
  display: none;
}

.custom-radio {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  color: red;
}


//.task_form__header
//.task_name
//.task_description
//.dead_line
//.priority
//.btn_high
//.btn_medium
//.btn_low
//.life_part
//.btn_personal
//.btn_work
//.btn_study
//.btn_health
//.btn_finance
//.btn_other
//.save_task__btn
